<footer class="main-footer">
	<div class="footer-contacts">
		<dl class="footer-contacts__list">
			<div class="footer-contacts__item">
				<dd class="footer-contacts__name">e-mail:</dd>
				<dt class="footer-contacts__description">info@mimimishkashop.ru</dt>
			</div>
		<dl class="footer-contacts__list">
			<div class="footer-contacts__item">
				<dd class="footer-contacts__name">адрес:</dd>
				<dt class="footer-contacts__description">г. Санкт-Петербург ул. Большая Конюшенная д. 19/8, офис 101</dt>
			</div>
		</dl>
	</dl></div>

	<div class="footer-map"></div>
</footer>
</footer>
