<header class="main-header">
	<a class="main-header__logo">
		<img class="main-header__logo-image" src="img/logo-mobile.svg" width="86" height="44" alt="Логотип сайта Мишка">
		</a>
		<nav class="main-nav">
		<button class="main-nav__toogle" type="button"><span class="visually-hidden">Открыть меню</span></button>
		<div class="block-centerer">
			<ul class="main-nav__list">
				<li class="main-nav-item">Каталог товаров и вязание</li>
				<li class="main-nav-item">Вязание на заказ</li>
				<li class="main-nav-item">Поиск по сайту</li>
				<li class="main-nav-item">Корзина:<span>пока пуста</span></li>
			</ul>
		</div>
		</nav>
</header>
